/*IMDb Logo CSS from https://codepen.io/geoffyuen/pen/ZEOZwX*/
h1 {
  font: 2em/1 Impact, HelveticaNeue-CondensedBold, sans-serif; // change the font size to whatever
  color: #000;
  text-shadow: 0 0 .15em #fff;
  text-decoration: none;

  display: inline-block;
  vertical-align: bottom;
  padding: .25em .35em;
  border-radius: .15em;
  background: radial-gradient(#ffffb8, #ce981d);
  }

#new {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;font-size: 25px;
    color: white;
}

/*Link CSS from https://blog.prototypr.io/create-stylish-links-with-css-983d33102f5a*/
a {
    text-decoration:none;
    background-color: #009879;
    color: white;
    padding: 8px 16px;
    font-family: sans-serif;
    border-radius: 3px;
    font-weight:bold;
}

a:hover {
    background-color: #029e74;
}

/*Table CSS from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}