<html>
<head>
    <title>MoviesDB</title>
</head>
<body>
    <h1>MoviesDB</h1>
    <h2>Directors</h2>
    <p>Links to other pages:</p>
    <p>
        <a href="{{ url_for('root') }}">Movies</a>
        <a href="{{ url_for('actors') }}">Actors</a>
        <a href="{{ url_for('directors') }}">Directors</a>
        <a href="{{ url_for('genres') }}">Genres</a>
        <a href="{{ url_for('movie_actors') }}">Movie Actors</a>
        <a href="{{ url_for('genre_actors') }}">Genre Actors</a>
        <a href="{{ url_for('genre_directors') }}">Genre Directors</a>
    </p>
</body>
<table>
    <thead>
    <tr>
        <th>Director ID</th>
        <th>Director Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody>
    {% for item in directors %}
    <tr>
        <td>{{item['idDirector']}}</td>
        <td>{{item['directorName']}}</td>
        <td>{{item['age']}}</td>
        <td><input type="submit" value="Edit" name="action1"/></td>
        <td><input type="submit" value="Delete" name="action1"/></td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Add Director" name="action1"/>
</html>