<html>

<head>
	<title>Edit Actors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div>
        <h1>Editing Actor:</h1>
        <table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %}
                    </tr>
                    {% endfor %}
            {% endif %}
        </table>

        <div id="edit">
            <!-- form to edit data in Actors-->
            <form id="editActors" action="/edit_actors/{{data[0].idActor}}" method="post">
                <legend><strong>Edit Actor</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'idActor' of actor to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].idActor}}" class="form-control" id="idActor" name="idActor" required>

                    <label for="make">Actor Name:</label>
                    <input type="text" value="{{data[0].actorName}}" class="form-control" id="actorName" name="actorName" pattern="[A-Za-z\W+]{1,}" required>

                    <label for="model">Age:</label>
                    <input type="text" value="{{data[0].age}}" class="form-control" id="age" name="age" pattern="[0-9]{1,}" required>

                </fieldset>
                <input type="submit" value="Edit Actor" name="Edit_Actors" class="btn btn-primary" style="margin:.5rem;">
                <a href='/actors'><input class="btn" type="button" value="cancel"></a>
            </form>
</html>