<html>
<head>
    <style>
        table, th, td
        {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <title>MoviesDB</title>
</head>
<body>
    <h1>MoviesDB</h1>
    <h2>Movie Actors</h2>
    <p>Links to other pages:</p>
    <p>
        <a href="{{ url_for('root') }}">Movies</a>
        <a href="{{ url_for('actors') }}">Actors</a>
        <a href="{{ url_for('directors') }}">Directors</a>
        <a href="{{ url_for('genres') }}">Genres</a>
        <a href="{{ url_for('movie_actors') }}">Movie Actors</a>
        <a href="{{ url_for('genre_actors') }}">Genre Actors</a>
        <a href="{{ url_for('genre_directors') }}">Genre Directors</a>
    </p>
</body>
<table>
    <thead>
    <tr>
        <th>Movie ID</th>
        <th>Movie Name</th>
        <th>Actor ID</th>
        <th>Actor Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody>
    {% for item in movie_actors %}
    <tr>
        <td>{{item['idMovie']}}</td>
        <td>{{item['movieName']}}</td>
        <td>{{item['idActor']}}</td>
        <td>{{item['actorName']}}</td>
        <td><input type="submit" value="Edit" name="action1"/></td>
        <td><input type="submit" value="Delete" name="action1"/></td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Add Entry" name="action1"/>
<input type="submit" value="Remove Entry" name="action1"/>
</html>